body {
  margin: 0;
  background: #EEE;
  font-family: "Open Sans", sans-serif;
}
.box {
  width: 1000px;
  height: 870px;
  margin: auto;
  background-color: #FFF;
  box-shadow: 0 0 8px 1px rgba(209,209,209,0.75);
}
/*header*/
header{
  padding: 20px 50px 0;
  margin-bottom: 40px;
}
.mainmenu {
  line-height: 2.7;
  background: linear-gradient(to top, #5d5d5d, #464545);
  color: white;
  padding-left: 0;
  height: 40px;
  font-size: 14px;
}
.mainmenu li{
  display: inline-block;
  border-left: 1px solid rgba(0, 120, 201, 0);
  border-right: 1px solid rgba(0, 120, 201, 0);
}
.mainmenu li:hover  {
  background: linear-gradient(to top, #4a4a4a, #303030);
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}
.menu1{
  padding-left: 25px;
  height: 40px;
  width: 119px;
}
.menu2{
  height: 40px;
  width: 100px;
  text-align: center;
}
.menu3{
  height: 40px;
  width: 150px;
  text-align: center;
}
.menu4{
  height: 40px;
  width: 100px;
  text-align: center;
}
.mainmenu a{
  text-decoration: none;
  color: white;
}
/*sidebar*/
 .sidebar {
  width: 240px;
  height: 240px;
  margin-left: 50px;
  float: left;
  font-size: 14px;
}
.catalog{
  padding-left: 0;
  margin-top: 0;
}
.item {
  display: inline-block;
  width: 240px;
  padding: 10px 0 10px 25px;
  border: 1px solid #c8c8c8;
  box-sizing: border-box;
}
.item:hover{
  padding-left: 40px;
  background-color: #f9f9f9;
}
a{
  text-decoration: none;
  color: black;
}
/*content*/
.box2 {
padding: 0 25px 0 340px;
font-size: 12px;
}
img {
	width: 610px;
}
.box2 p{
  margin-top: 40px;
  padding: 0 40px 0 20px;
  font-size: 12px;
}
/*footer*/
footer {
  padding: 20px 50px 0;
}
.footer{
  background: #e1e1e1;
  font-size: 14px;
}
.footer li{
  line-height: 2.8;
  display: inline-block;
}
.menu5{
  width: 370px;
  text-align: right;
}
.subfooter{
  padding-left: 0;
}
.subfooter li:hover{
  text-decoration: underline;
}
