*{
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: "leaguegothic";
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{

  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  font-family: "leaguegothic";
}
.fon{

  position: absolute;
  top:846px;
  width:100%;
  height: 342px;
  border-top:1px solid #33253a;
  border-bottom:1px solid #1d2f37;
  background: linear-gradient(to top, #33263a, #745083);
}
.fon1{
  position: absolute;
  top:278px;
  width:100%;
  height: 400px;
  background-color: #000000;
  opacity: 0.2;
}
.wrapper{

  width: 960px;
  margin: 0 auto;


}
header{
  overflow: hidden;
  margin-top: 60px;
  height: 201px;
}
nav {
  overflow: hidden;

}
header .logo{
  float: left;
  color: white;
  font-weight: bold;
  font-size: 48px;
  font-stretch:    condensed;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.logo span{
  color: #63456f;
  text-shadow: none;
}
nav .menu{
  float: right;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
nav a{
  color: white;
  text-decoration:   none;

  font-size: 24px;
}
nav li{
  display: inline-block;
  margin-top: 11px;
  margin-left: 52px;
}
nav li:hover{
  border-bottom: 2px solid #edbfff;

}

article {
  float: left;
  height: auto;
  width: 55%;
  margin-top: 88px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
content article h1 {
  font-size: 60px;
  color: white;
  font-weight: normal;
}
content article h4{
  margin-top: -10px;
  color: #edbfff;
  font-weight: normal;
  font-size: 32px;
}
content article p{
  margin-top: 2px;
  color: white;
  font-family: "Open Sans Light", sans-serif;
  font-size: 18px;
}
content figure{
  float: right;
  margin-right: 72px;
}
.clear_both{
  overflow: hidden;
  clear: both;
}
content figcaption img{
  float: right;
  margin: 71px 168px 0 0;
}
aside{
  float: left;
  color: white;
  width: 33.3%;
  margin-top: 73px;


}
aside h2{
  margin-bottom: 4px;
  text-shadow: 1px 1px 0px rgba(15, 21, 24, 0.9);
  font-size: 30px;
  font-weight: normal;
}
aside h4{
  margin-top: 17px;
  text-align: right;
  font-size: 18px;
  font-weight: normal;
}
aside a{
  color: white;
  text-decoration: none;
}
aside a:hover{
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
aside p{
  font-size: 16px;
  font-family: "Open Sans Light", sans-serif;
  line-height: 1.5;
  text-shadow: 1px 1px 0px rgba(15, 21, 24, 0.9);
}
.aside__icon{
  float: left;
  width: 27px;
  height: 27px;
  margin-bottom: 150px;
  margin-top: 11px;
  margin-right: 26px;
  margin-left: 10px;

}
.aside__text{

 display: inline ;
}
.position1{
  background : url(../img/icons.png) -1px 0;
}
.position2{
  background : url(../img/icons.png) -30px 0;
}
.position3{
  background : url(../img/icons.png) -60px 0;
}
.arrow_left{
  position: absolute;
  top: 463px;
}
.arrow_right{
  position: absolute;
  top: 463px;
  left: 1323px;
}
.fon2 {
  position: absolute;
  top:1190px;
  width:100%;
  height: 485px;
  background-color: #f9f9f9;
}
aside .format h2{
  margin-top: 30px;
  text-transform: uppercase;
  line-height: 0.8;
  color: #454545;
}
aside .format span {
  color: #edbfff;
  text-shadow: 1px 1px 0px rgba(237, 191, 255, 0.9);
}
.aside{
  width: 50%;
}
.format p{
  word-wrap: break-word;
  color: black;
  text-shadow: none;
  margin: 14px 56px 60px 0;
}
 .blog{
  background: url(../img/blablabla.png) no-repeat 24px 0;
}
.position4{
  margin-left: 0px;
  margin-right: 36px;
  margin-top: 16px;
  margin-bottom: 170px;

}
.post h2{
  margin-top: 30px;
  margin-left: 28px;
  line-height: 0.8;
  color: #454545;
}
.format h4{

  font-size: 16px;
  font-family: "Open Sans";
  color: black;
  line-height: 1.5;
  margin-top: 17px;
  text-align: left;
  font-weight: bold;
}
.post .aside__icon{
  float: left;

  width: 50px;
  height: 50px;
  margin-bottom: 0px;
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 28px;
}
.post p{
  margin: 0 0 18px 0;
}
.position5{
  background: url(../img/iconpost.png) no-repeat 0 0;
}
.position6{
  background: url(../img/iconpost.png) no-repeat 0 -50px;
}
.position7{
  background: url(../img/iconpost.png) no-repeat 0 -100px;
}
aside h3{
  color: black;
  margin-right: 10px;
  line-height: 1.333;
  text-align: right;
  font-size: 18px;

}
.point{
  margin: 5px 0 0 165px;
}
.fon3{
  position: absolute;
  top:1675px;
  width:100%;
  height: 120px;
  background-color: #f9f9f9;
  border-top: 1px solid #e6e6e6;
  border-bottom:1px solid #e6e6e6;
}

.logos{
  overflow: hidden;
  margin-top: 25px;
  margin-left: 63px;
  margin-right: 63px;
}
.logo1{
  float: left;
  margin-left: 27px;
  margin-right: 27px;
  width: 205px;
  height: 64px;
  background: url(../img/logos.png) no-repeat 0 0;
}
.logo2{
  float: left;
  margin-left: 40px;
  margin-right: 40px;
  width: 193px;
  height: 64px;
  background: url(../img/logos.png) no-repeat -270px 0;
}
.logo3{
  float: left;
  margin-left: 40px;
  width: 250px;
  height: 64px;
  background: url(../img/logos.png) no-repeat -527px 0;
}
.fon4{
  position: absolute;
  top:1795px;
  width:100%;
  height: 395px;
  background-color: #ececec;
  border-top: 1px solid #d8d8d8;
}
aside .copyright{
  margin-top: 16px;
  margin-bottom: 12px;
  color: #c5c5c5;
  line-height: normal;
  font-family: "Georgia" ;
  font-style: italic;
}
#pingbuller{
  font-size: 48px;
}
#pingbuller span{
  color: #b9b9b9;
}
#item {
  margin-right: 10px;
}
 .zero{
   float: left;
   width: 27px;
   height: 27px;
   margin-top: 190px;
}
footer{
  position: absolute;
  top:2190px;
  width:100%;
  height: 114px;
  background-image: url(../img/bgfooter.png);
}
#footer .footer{
  float: left;

}
#footer{
  margin-top: 34px;
}
#footer a{
  font-size: 20px;
}
#footer li{
  margin-left: 0;
  margin-right: 52px;
}
#footer li:hover{
  border-bottom: 0px solid #edbfff;

}
#Designed_by{
  float: right;
  margin-top: 20px;
}
#Designed_by p{
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  text-align: right;
  font-family: "open sans light", sans-serif;
  font-size: 12px;

}
#Designed_by span{
  font-weight: bold;
  font-family: "open sans extrabold", sans-serif;
}
